In [1]:
import numpy
import pandas
import random
import sklearn
import lightgbm

In [2]:
# 求职者
person = pandas.read_csv("../trainset/person.csv", header=0,
                         names=["求职者编号", "性別", "工作年限", "最高学历", "应聘者专业", "年龄", "最近工作岗位", "最近所在行业", "当前工作所在地", "语言能力",
                                "专业特长"], encoding='gb18030')
person_sex = (person.性別 == "女").astype("float")
person_edu = person.最高学历.map({"其它": 0, "中专": 1, "高中（职高、技校）": 2, "大专": 3, "大学本科": 4, "硕士研究生": 5, "博士研究生": 6, "博士后": 7})
person_major = person.应聘者专业.astype("category")

In [365]:
person

,求职者编号,性別,工作年限,最高学历,应聘者专业,年龄,最近工作岗位,最近所在行业,当前工作所在地,语言能力,专业特长
0,33291,男,15,大专,计算机应用技术,37,网络管理/信息安全管理,NaN,深圳市,普通话：精通 广东话：精通******语：听：良好，说：良好，读：良好，写：,"1、精通计算机软、硬件及网络维护，能迅速处理各种突发的计算机故障 2、熟悉局域网建设和管理,..."
1,2985277,男,12,大专,计算机应用技术,35,*公关/营销/业务类,文化体育行业,深圳市,普通话：精通 广东话：精通************语：听：精通，说：精通，读,..
2,2982066,女,10,大专,金融学（含保险学）,32,出纳,医药销售行业,南山区,普通话：精通 广东话：精通************语：听：精通，说：良好，读,****-****年获校三等奖学金****-****年获单项奖学金
3,3010866,男,10,中专,物理电子学,34,营销代表/销售顾问,珠宝玉石行业,深圳市,普通话：精通 广东话：良好************语：听：一般，说：不会，读,"我对塑胶厂里的运作流程非常熟悉,从业务,计划,生产,人事,采购,客户服务都有经验."
4,316816964,女,15,中专,学前教育学,34,小学教育/幼儿教育/保育,行业组织,福田区,NaN,1：拥有丰富的办公室工作经历，能独挡一面处理工作中的相关事情。2：熟练掌握Windows办公...
...,...,...,...,...,...,...,...,...,...,...,...
54774,4546928,男,14,大专,NaN,47,产品开发,娱乐业,深圳市,NaN,★经验描述： 曾在所述行业或职位上成功开发过银行柜员机、自动售货机、医疗设备、双电源开关、塑...
54775,6261517,男,26,大学本科,财务管理,48,财务总监CFO/总会计师,香料香精行业,广州市,文案及沟通能力较好，有较强的人际穿透能力。,一、在财务会计工作方面：1．能熟练处理工商企业全盘账税，熟练操作用友、金蝶、江苏速达等财务软...
54776,5642172,男,13,大专,NaN,32,项目管理,银行业,深圳市,NaN,1.熟练使用PRO-E/CAD、UG、OFFICE软件；2.对模具结构及成型工艺有很深的理解...
54777,5433634,男,13,博士研究生,管理科学与工程,39,总裁/总经理/CEO/主席/社长/总编,塑胶行业,深圳市,"具有较强的语听说读写能力。可流利阅读文资料,并能熟练收发文邮件",****公司化企业财务总监工作经验；精通现代企业财务管理并具有深厚的财务管理理论与实践经验；...
54778,4924201,男,26,硕士研究生,工商管理(MBA),48,总裁/总经理/CEO/主席/社长/总编,塑胶行业,深圳市,语言水平：************ 语:一般*********,主要项目和业绩：（只列举了其中的一小部分项目）1、成都***程建设项目（****年****月...

In [3]:
# 求职意向
intent_table = pandas.read_csv("../trainset/person_cv.csv", header=0,
                               names=["求职者编号", "自荐信", "岗位类别", "工作地点", "所在行业", "可到职天数", "其他说明"])
intent_table["自荐信字数"] = intent_table.自荐信.str.len()

In [4]:
#工作经历
work_history = pandas.read_csv("../trainset/person_job_hist.csv", header=0,
                               names=["求职者编号", "岗位类别", "单位所在地", "单位所属行业", "主要业绩"])
work_history["主要业绩字数"] = work_history.主要业绩.str.len()

In [5]:
# 证书
cert_table = pandas.read_csv("../trainset/person_pro_cert.csv", header=0, names=["求职者编号", "专业证书名称", "备注"])

In [6]:
# 项目经历
project_history = pandas.read_csv("../trainset/person_project.csv", header=0,
                                  names=["求职者编号", "项目名称", "项目说明", "职责说明", "关键技术"])

In [7]:
# 岗位表
job_table = pandas.read_csv("../trainset/recruit.csv", header=0,
                            names=["岗位编号", "招聘对象代码", "招聘对象", "招聘职位", "对应聘者的专业要求", "岗位最低学历", "岗位工作地点", "岗位工作年限", "具体要求"])
job_table.招聘对象代码 = job_table.招聘对象代码.fillna(-1).astype("category")
job_table.招聘对象 = job_table.招聘对象.astype("category")
job_table.岗位最低学历 = job_table.岗位最低学历.map(
    {"其它": 0, "中专": 1, "高中（职高、技校）": 2, "大专": 3, "大学本科": 4, "硕士研究生": 5, "博士研究生": 6, "博士后": 7})
job_table.岗位工作年限 = job_table.岗位工作年限.map({"不限": -1, "应届毕业生": 0, "0至1年": 0, "1至2年": 1, "3至5年": 3, "5年以上": 5})
job_table["具体要求字数"] = job_table.具体要求.str.len()

In [8]:
job_table

,岗位编号,招聘对象代码,招聘对象,招聘职位,对应聘者的专业要求,岗位最低学历,岗位工作地点,岗位工作年限,具体要求,具体要求字数
0,135144,-1.0,NaN,业务员,NaN,2.0,深圳市,0,NaN,NaN
1,137045,-1.0,NaN,电子技术支持工程师,电子信息工程学,1.0,龙岗区,0,要求电子类中专以上文凭，为人诚恳，工作负责，熟悉PROTEL****自动排版系统；对计算机常...,70.0
2,146798,-1.0,NaN,仓管,【工商管理】,1.0,龙岗区,0,电子厂工作经验2年以上（非电子厂勿扰！）；十分熟悉仓库管理流程；懂金碟登帐者优先!,41.0
3,436321,2.0,社会无职,销售代表,NaN,1.0,深圳市,0,女，年龄****-****，高中以上学历，普通话粤语流利，善于沟通，有销售经验者优先。,43.0
4,440725,99.0,不限,造价员,工民建,1.0,深圳市,3,所学专业可以是其他专业，但应有工业与民用建筑土建工程、或给排水工程、或强弱电工程、或通风与空...,109.0
...,...,...,...,...,...,...,...,...,...,...
2099,44263687,1.0,社会在职,跟单文员,NaN,2.0,深圳市,1,女 1名 高中或以上文化，有两年以上丝移印跟单工作经验，字迹端正秀丽，责任心强。,42.0
2100,44274688,3.0,应届毕业,英语播音员,英语,3.0,宝安区,0,男女不限，英语本科以上学历，已过专业英语八级或者普通话二甲，口语好，音质甜美，善于模仿，有播...,66.0
2101,44285651,1.0,社会在职,电气工程师,NaN,NaN,深圳市,5,NaN,NaN
2102,44298679,2.0,社会无职,仓库管理员,NaN,2.0,深圳市,0,1. 1年以上电子厂仓库管理经验2. 熟练金碟登帐3. 能吃苦耐劳。4. 限女性,40.0
2103,44310665,99.0,不限,海运操作员,NaN,3.0,南山区,1,"我司是 深******主要经营 韩国,美国,非洲线的 海运及空运业务办公",36.0

In [9]:
work_history_table = work_history.groupby("求职者编号").aggregate({"岗位类别": "count", "主要业绩字数": ["mean", "sum"]}).reset_index()
work_history_table.columns = ["求职者编号", "工作经历数", "平均主要业绩字数", "总主要业绩字数"]
project_history_table = project_history.groupby("求职者编号").aggregate({"项目名称": "count"}).reset_index()
project_history_table.columns = ["求职者编号", "项目经验数"]

In [10]:
work_history

,求职者编号,岗位类别,单位所在地,单位所属行业,主要业绩,主要业绩字数
0,1281276,行政管理,罗湖区,其它,1.协助总经理处理好日常事务及和外部公共关系；2.负责协助起草总经理各类工作往来文件，并负责...,158.0
1,980158,售前/售后服务,NaN,NaN,"本人主要负责万佳,天虹,岁宝,民润等重要客户的品牌分类管理,收集竞争对手信息与反馈,店内执行...",80.0
2,3016108,培训管理,福田区,信息行业（IT/通讯/互联网）,从事学生管理工作.并负责分校区的学生心理辅导和职业指导工作.,32.0
3,3016108,培训管理,福田区,信息行业（IT/通讯/互联网）,从事心理学的教学工作，并担任学校的心理辅导老师，负责了学校心理咨询中心的组建和日常咨...,79.0
4,2980989,产品开发,宝安区,电子行业,"1.工程师对产品进行设计及开发 2.处理3D图和2D图,同时制作相关的资料(如BOM\技术文...",93.0
...,...,...,...,...,...,...
115345,6198806,营销管理,深圳市,建筑工程业,公司从事城市夜景照明泛光亮化方面的工程设****公司主要客户群体为市政工程、房地产开发企业、...,223.0
115346,5863441,运营管理,NaN,信息行业（IT/通讯/互联网）,国内领先的微信开发服务商。基于微信为企业提供开发、运营、培训、推广一体化解决方案，帮助企业实...,563.0
115347,1408390,销售管理,深圳市,服装行业,****公司成****公司的销售，运营，招聘，采购，期****公司的采购和店铺销售和人员管理,46.0
115348,834069,人力资源管理,深圳市,珠宝玉石行业,在职期间任行政总监 及hrbp,15.0
115349,6021388,工程预决算,深圳市,市政道桥行业,主要完成两个项目：一、龙华管网四期-松和片区雨污分流工程；二、南山高新区交通改造工程设计采购...,687.0

In [11]:
work_history#[work_history.求职者编号==488]

,求职者编号,岗位类别,单位所在地,单位所属行业,主要业绩,主要业绩字数
0,1281276,行政管理,罗湖区,其它,1.协助总经理处理好日常事务及和外部公共关系；2.负责协助起草总经理各类工作往来文件，并负责...,158.0
1,980158,售前/售后服务,NaN,NaN,"本人主要负责万佳,天虹,岁宝,民润等重要客户的品牌分类管理,收集竞争对手信息与反馈,店内执行...",80.0
2,3016108,培训管理,福田区,信息行业（IT/通讯/互联网）,从事学生管理工作.并负责分校区的学生心理辅导和职业指导工作.,32.0
3,3016108,培训管理,福田区,信息行业（IT/通讯/互联网）,从事心理学的教学工作，并担任学校的心理辅导老师，负责了学校心理咨询中心的组建和日常咨...,79.0
4,2980989,产品开发,宝安区,电子行业,"1.工程师对产品进行设计及开发 2.处理3D图和2D图,同时制作相关的资料(如BOM\技术文...",93.0
...,...,...,...,...,...,...
115345,6198806,营销管理,深圳市,建筑工程业,公司从事城市夜景照明泛光亮化方面的工程设****公司主要客户群体为市政工程、房地产开发企业、...,223.0
115346,5863441,运营管理,NaN,信息行业（IT/通讯/互联网）,国内领先的微信开发服务商。基于微信为企业提供开发、运营、培训、推广一体化解决方案，帮助企业实...,563.0
115347,1408390,销售管理,深圳市,服装行业,****公司成****公司的销售，运营，招聘，采购，期****公司的采购和店铺销售和人员管理,46.0
115348,834069,人力资源管理,深圳市,珠宝玉石行业,在职期间任行政总监 及hrbp,15.0
115349,6021388,工程预决算,深圳市,市政道桥行业,主要完成两个项目：一、龙华管网四期-松和片区雨污分流工程；二、南山高新区交通改造工程设计采购...,687.0

In [12]:
project_history_table[project_history_table.求职者编号==6021388]

       求职者编号  项目经验数
849  6021388      9

In [297]:
# 待匹配标签
train_data = pandas.read_csv("../data/train_data.csv")
test_data = pandas.read_csv("../data/test_data.csv")
valid_data = pandas.read_csv("../data/valid_data.csv")

In [298]:
# train_data = pandas.read_csv("../data/trainset/recruit_folder.csv", header=0, names=["岗位编号", "求职者编号", "标签"])
# test_data = pandas.read_csv("../data/testset/recruit_folder.csv", header=0, names=["岗位编号", "求职者编号", "标签"])

# train,valid=train_test_split(train_data,test_size=0.2)

# train.reset_index(drop=True).to_csv(r'../data/train_data.csv')
# valid.reset_index(drop=True).to_csv(r'../data/valid_data.csv')
# test_data.reset_index(drop=True).to_csv(r'../data/test_data.csv')

In [299]:
data_all = pandas.concat([ train_data,valid_data,test_data], ignore_index=True)
candidate_data = data_all.groupby("求职者编号").aggregate({"岗位编号": "count"}).reset_index()
candidate_data.columns = ["求职者编号", "求职者求职数"]
job_data = data_all.groupby("岗位编号").aggregate({"求职者编号": "count"}).reset_index()
job_data.columns = ["岗位编号", "岗位求职者数"]

In [300]:
data_all.shape

(106065, 4)

In [301]:
candidate_data.sort_values(by='求职者求职数')

         求职者编号  求职者求职数
0          488       1
32885  6129742       1
32886  6129750       1
32889  6129766       1
32890  6129768       1
...        ...     ...
34660  6151649      32
24019  6034853      34
11687  5566970      38
16363  5892295      44
9682   5383397      55

[53959 rows x 2 columns]

In [302]:
def get_data(data,feature):
    candidate_feature = feature.groupby("求职者编号").aggregate({"标签": "mean"}).reset_index()
    candidate_feature.columns = ["求职者编号", "求职者平均被匹配数"]
    job_feature = feature.groupby("岗位编号").aggregate({"标签": "mean"}).reset_index()
    job_feature.columns = ["岗位编号", "岗位平均被匹配数"]

    data = data.merge(person, on="求职者编号", how="left")
    data = data.merge(intent_table, on="求职者编号", how="left")
    data = data.merge(job_table, on="岗位编号", how="left")
    data = data.merge(project_history_table, on="求职者编号", how="left")
    data = data.merge(work_history_table, on="求职者编号", how="left")
    data = data.merge(candidate_data, on="求职者编号", how="left")
    data = data.merge(job_data, on="岗位编号", how="left")
    data = data.merge(candidate_feature, on="求职者编号", how="left")
    data = data.merge(job_feature, on="岗位编号", how="left")
    data["工作地点符合否"] = (data.工作地点 == data.岗位工作地点).astype("float")
#     print(data.columns)
    data_feature = data[["岗位编号", "求职者编号", "标签", "性別", "工作年限", "最高学历", "应聘者专业", "年龄", "自荐信字数", "可到职天数"
        , "项目经验数", "工作经历数", "平均主要业绩字数", "总主要业绩字数", "招聘对象代码", "招聘对象", "岗位最低学历", "岗位工作年限", "具体要求字数", "工作地点符合否"
         ,"求职者求职数", "岗位求职者数", "求职者平均被匹配数", "岗位平均被匹配数",
                             ]]

    data_feature = data_feature[["岗位编号", "求职者编号", "标签"] + [column for column in data_feature.columns if
                                                                 column not in ["岗位编号", "求职者编号", "标签"]]]

    return data_feature

In [303]:
data

         岗位编号      求职者编号  标签
0      825081    6256839   0
1      772899    5413605   0
2      795668    5219796   0
3      769754    5700693   0
4      773645    6208645   0
...       ...        ...  ..
33874  826401    6068710   1
33875  832680    6276679   0
33876  805853  316210020   1
33877  792036    5712168   0
33878  807602    6184716   0

[33879 rows x 3 columns]

In [317]:
data_all.标签.value_counts()

0    100444
1      5621
Name: 标签, dtype: int64

In [319]:
data_all = pandas.concat([ train_data,valid_data,test_data], ignore_index=True)
k = 5
train = None
for i in range(k):
    data_label = train_data[train_data.index % k == i].reset_index(drop=True)
    data_feature = train_data[train_data.index % k != i].reset_index(drop=True)

    data_table = get_data(data_label, data_feature)
    train = pandas.concat([train, data_table], ignore_index=True)
valid = get_data(valid_data, train)
test = get_data(test_data, train)

In [322]:
train

,岗位编号,求职者编号,标签,性別,工作年限,最高学历,应聘者专业,年龄,自荐信字数,可到职天数,...,招聘对象代码,招聘对象,岗位最低学历,岗位工作年限,具体要求字数,工作地点符合否,求职者求职数,岗位求职者数,求职者平均被匹配数,岗位平均被匹配数
0,775040,5969825,0,男,12,大专,NaN,34,50.0,7.0,...,2.0,社会无职,2.0,0,46.0,1.0,8,88,0.0,0.000000
1,799873,6139430,0,男,12,大学本科,机电一体化,37,148.0,7.0,...,-1.0,NaN,3.0,3,99.0,1.0,1,214,NaN,0.000000
2,779698,6083324,0,男,0,中专,特殊教育学,31,65.0,7.0,...,1.0,社会在职,1.0,1,71.0,0.0,1,593,NaN,0.000000
3,771109,5873085,0,女,6,大学本科,财务管理,33,39.0,7.0,...,-1.0,NaN,2.0,1,37.0,0.0,2,273,NaN,0.000000
4,823833,6218282,0,女,0,大专,英语,29,NaN,7.0,...,-1.0,NaN,2.0,0,57.0,0.0,6,303,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28227,800360,1633998,0,女,18,大专,金融学（含保险学）,40,137.0,7.0,...,-1.0,NaN,1.0,0,38.0,0.0,8,85,1.0,0.200000
28228,43922680,5733578,1,女,10,高中（职高、技校）,计算机应用技术,28,119.0,14.0,...,1.0,社会在职,NaN,5,NaN,0.0,2,233,NaN,1.000000
28229,816862,6088168,0,男,0,大学本科,NaN,30,149.0,7.0,...,2.0,社会无职,2.0,0,41.0,0.0,1,246,NaN,0.017857
28230,772339,4684178,0,男,11,大专,NaN,34,76.0,7.0,...,2.0,社会无职,NaN,0,23.0,0.0,7,290,NaN,0.000000
28231,813661,6284744,0,女,14,大学本科,英语,34,119.0,7.0,...,-1.0,NaN,3.0,3,136.0,1.0,2,413,NaN,0.043478

In [321]:
train_all.shape,train_data.shape,valid_data.shape

((35291, 24), (28232, 4), (7059, 4))

In [323]:
temp_data= pandas.concat([train,valid, test], ignore_index=True)

In [348]:
data_all_feature = pandas.get_dummies(temp_data[['性別','工作年限','最高学历','应聘者专业','可到职天数','招聘对象代码', '招聘对象',
       '岗位最低学历','工作经历数','岗位工作年限','工作地点符合否',"求职者平均被匹配数", "岗位平均被匹配数", "求职者求职数", "岗位求职者数"]])#[['性别']]#[']性别']]
data_all_feature['年龄']=temp_data['年龄']
data_all_feature['项目经验数']=temp_data['项目经验数']
data_all_feature['具体要求字数']=temp_data['具体要求字数']
data_all_feature['自荐信字数'] = temp_data['自荐信字数']
data_all_feature['平均主要业绩字数'] =temp_data['平均主要业绩字数']
data_all_feature['总主要业绩字数']=temp_data['总主要业绩字数']
data_all_feature['岗位编号']=temp_data['岗位编号']
data_all_feature['求职者编号']=temp_data['求职者编号']
data_all_feature['标签']=temp_data['标签']

In [352]:
train = data_all_feature[:train.shape[0]]#.标签.value_counts()
valid = data_all_feature[train.shape[0]:train.shape[0]+valid.shape[0]]
test = data_all_feature[train.shape[0]+valid.shape[0]:]
train_label = train[train.columns[-1]]
valid_label = valid[valid.columns[-1]]
train=train[train.columns[:-3]]
valid=valid[valid.columns[:-3]]
test=test[test.columns[:-3]]

In [353]:
train

,工作年限,可到职天数,岗位最低学历,工作经历数,岗位工作年限,工作地点符合否,求职者平均被匹配数,岗位平均被匹配数,求职者求职数,岗位求职者数,...,招聘对象_不限,招聘对象_应届毕业,招聘对象_社会在职,招聘对象_社会无职,年龄,项目经验数,具体要求字数,自荐信字数,平均主要业绩字数,总主要业绩字数
0,12,7.0,2.0,4.0,0,1.0,0.0,0.000000,8,88,...,0,0,0,1,34,NaN,46.0,50.0,161.250000,645.0
1,12,7.0,3.0,2.0,3,1.0,NaN,0.000000,1,214,...,0,0,0,0,37,NaN,99.0,148.0,115.500000,231.0
2,0,7.0,1.0,2.0,1,0.0,NaN,0.000000,1,593,...,0,0,1,0,31,NaN,71.0,65.0,109.000000,218.0
3,6,7.0,2.0,1.0,1,0.0,NaN,0.000000,2,273,...,0,0,0,0,33,NaN,37.0,39.0,77.000000,77.0
4,0,7.0,2.0,3.0,0,0.0,0.0,0.000000,6,303,...,0,0,0,0,29,NaN,57.0,NaN,81.333333,244.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28227,18,7.0,1.0,4.0,0,0.0,1.0,0.200000,8,85,...,0,0,0,0,40,NaN,38.0,137.0,118.500000,474.0
28228,10,14.0,NaN,3.0,5,0.0,NaN,1.000000,2,233,...,0,0,1,0,28,NaN,NaN,119.0,77.000000,154.0
28229,0,7.0,2.0,4.0,0,0.0,NaN,0.017857,1,246,...,0,0,0,1,30,NaN,41.0,149.0,117.750000,471.0
28230,11,7.0,NaN,2.0,0,0.0,NaN,0.000000,7,290,...,0,0,0,1,34,NaN,23.0,76.0,420.500000,841.0
28231,14,7.0,3.0,10.0,3,1.0,NaN,0.043478,2,413,...,0,0,0,0,34,NaN,136.0,119.0,84.666667,762.0

In [354]:
train.shape,valid.shape,test.shape

((28232, 454), (7059, 454), (70774, 454))

In [355]:
train

,工作年限,可到职天数,岗位最低学历,工作经历数,岗位工作年限,工作地点符合否,求职者平均被匹配数,岗位平均被匹配数,求职者求职数,岗位求职者数,...,招聘对象_不限,招聘对象_应届毕业,招聘对象_社会在职,招聘对象_社会无职,年龄,项目经验数,具体要求字数,自荐信字数,平均主要业绩字数,总主要业绩字数
0,12,7.0,2.0,4.0,0,1.0,0.0,0.000000,8,88,...,0,0,0,1,34,NaN,46.0,50.0,161.250000,645.0
1,12,7.0,3.0,2.0,3,1.0,NaN,0.000000,1,214,...,0,0,0,0,37,NaN,99.0,148.0,115.500000,231.0
2,0,7.0,1.0,2.0,1,0.0,NaN,0.000000,1,593,...,0,0,1,0,31,NaN,71.0,65.0,109.000000,218.0
3,6,7.0,2.0,1.0,1,0.0,NaN,0.000000,2,273,...,0,0,0,0,33,NaN,37.0,39.0,77.000000,77.0
4,0,7.0,2.0,3.0,0,0.0,0.0,0.000000,6,303,...,0,0,0,0,29,NaN,57.0,NaN,81.333333,244.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28227,18,7.0,1.0,4.0,0,0.0,1.0,0.200000,8,85,...,0,0,0,0,40,NaN,38.0,137.0,118.500000,474.0
28228,10,14.0,NaN,3.0,5,0.0,NaN,1.000000,2,233,...,0,0,1,0,28,NaN,NaN,119.0,77.000000,154.0
28229,0,7.0,2.0,4.0,0,0.0,NaN,0.017857,1,246,...,0,0,0,1,30,NaN,41.0,149.0,117.750000,471.0
28230,11,7.0,NaN,2.0,0,0.0,NaN,0.000000,7,290,...,0,0,0,1,34,NaN,23.0,76.0,420.500000,841.0
28231,14,7.0,3.0,10.0,3,1.0,NaN,0.043478,2,413,...,0,0,0,0,34,NaN,136.0,119.0,84.666667,762.0

In [356]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
import numpy as np
def lgb_f1_score(y_hat, data):
    y_true = data.get_label()
    y_hat = np.round(y_hat) # scikits f1 doesn't like probabilities
    return 'f1', f1_score(y_true, y_hat), True

# train_feature,test_feature,train_label,test_label =train_test_split(data_feature[:train.shape[0]].values,train["标签"],test_size =0.2)
train_set=lightgbm.Dataset(train.values, label=train_label)
val_set=lightgbm.Dataset(valid.values, label=valid_label)

model = lightgbm.train(train_set=train_set,
                       valid_sets=[val_set],
                       num_boost_round=3000,
                       
                       params={"objective": "binary", "learning_rate": 0.03, "max_depth": 6, "num_leaves": 32,
                               "verbose": -1, "bagging_fraction": 0.8, "feature_fraction": 0.8},
                       feval=lgb_f1_score,
                      early_stopping_rounds=100)

[1]	valid_0's binary_logloss: 0.429279	valid_0's f1: 0
Training until validation scores don't improve for 100 rounds
[2]	valid_0's binary_logloss: 0.409421	valid_0's f1: 0
[3]	valid_0's binary_logloss: 0.392373	valid_0's f1: 0
[4]	valid_0's binary_logloss: 0.377027	valid_0's f1: 0
[5]	valid_0's binary_logloss: 0.363244	valid_0's f1: 0
[6]	valid_0's binary_logloss: 0.35088	valid_0's f1: 0
[7]	valid_0's binary_logloss: 0.3455	valid_0's f1: 0
[8]	valid_0's binary_logloss: 0.339504	valid_0's f1: 0
[9]	valid_0's binary_logloss: 0.333782	valid_0's f1: 0
[10]	valid_0's binary_logloss: 0.323634	valid_0's f1: 0
[11]	valid_0's binary_logloss: 0.31423	valid_0's f1: 0
[12]	valid_0's binary_logloss: 0.30555	valid_0's f1: 0
[13]	valid_0's binary_logloss: 0.297323	valid_0's f1: 0
[14]	valid_0's binary_logloss: 0.29326	valid_0's f1: 0
[15]	valid_0's binary_logloss: 0.285803	valid_0's f1: 0
[16]	valid_0's binary_logloss: 0.278928	valid_0's f1: 0.0279965
[17]	valid_0's binary_logloss: 0.272355	valid_0's f1: 0.245914
[18]	valid_0's binary_logloss: 0.266166	valid_0's f1: 0.359534
[19]	valid_0's binary_logloss: 0.260298	valid_0's f1: 0.462168
[20]	valid_0's binary_logloss: 0.254744	valid_0's f1: 0.582915
[21]	valid_0's binary_logloss: 0.249516	valid_0's f1: 0.654741
[22]	valid_0's binary_logloss: 0.244501	valid_0's f1: 0.676436
[23]	valid_0's binary_logloss: 0.23985	valid_0's f1: 0.691329
[24]	valid_0's binary_logloss: 0.235354	valid_0's f1: 0.713961
[25]	valid_0's binary_logloss: 0.231159	valid_0's f1: 0.743363
[26]	valid_0's binary_logloss: 0.227085	valid_0's f1: 0.764642
[27]	valid_0's binary_logloss: 0.224832	valid_0's f1: 0.766901
[28]	valid_0's binary_logloss: 0.221018	valid_0's f1: 0.777956
[29]	valid_0's binary_logloss: 0.217366	valid_0's f1: 0.783395
[30]	valid_0's binary_logloss: 0.213901	valid_0's f1: 0.785374
[31]	valid_0's binary_logloss: 0.212208	valid_0's f1: 0.788167
[32]	valid_0's binary_logloss: 0.209001	valid_0's f1: 0.792632
[33]	valid_0's binary_logloss: 0.207595	valid_0's f1: 0.79285
[34]	valid_0's binary_logloss: 0.204563	valid_0's f1: 0.794549
[35]	valid_0's binary_logloss: 0.201629	valid_0's f1: 0.798749
[36]	valid_0's binary_logloss: 0.19879	valid_0's f1: 0.802693
[37]	valid_0's binary_logloss: 0.196121	valid_0's f1: 0.806385
[38]	valid_0's binary_logloss: 0.193545	valid_0's f1: 0.80862
[39]	valid_0's binary_logloss: 0.191104	valid_0's f1: 0.810838
[40]	valid_0's binary_logloss: 0.189958	valid_0's f1: 0.809816
[41]	valid_0's binary_logloss: 0.187583	valid_0's f1: 0.813041
[42]	valid_0's binary_logloss: 0.185342	valid_0's f1: 0.816057
[43]	valid_0's binary_logloss: 0.183184	valid_0's f1: 0.81703
[44]	valid_0's binary_logloss: 0.181138	valid_0's f1: 0.817585
[45]	valid_0's binary_logloss: 0.179155	valid_0's f1: 0.819374
[46]	valid_0's binary_logloss: 0.17722	valid_0's f1: 0.819326
[47]	valid_0's binary_logloss: 0.175319	valid_0's f1: 0.822055
[48]	valid_0's binary_logloss: 0.174286	valid_0's f1: 0.825
[49]	valid_0's binary_logloss: 0.172586	valid_0's f1: 0.82676
[50]	valid_0's binary_logloss: 0.170889	valid_0's f1: 0.82676
[51]	valid_0's binary_logloss: 0.169227	valid_0's f1: 0.828685
[52]	valid_0's binary_logloss: 0.168317	valid_0's f1: 0.829438
[53]	valid_0's binary_logloss: 0.16674	valid_0's f1: 0.832341
[54]	valid_0's binary_logloss: 0.165273	valid_0's f1: 0.834076
[55]	valid_0's binary_logloss: 0.163865	valid_0's f1: 0.833992
[56]	valid_0's binary_logloss: 0.162533	valid_0's f1: 0.834568
[57]	valid_0's binary_logloss: 0.161251	valid_0's f1: 0.835718
[58]	valid_0's binary_logloss: 0.159943	valid_0's f1: 0.83588
[59]	valid_0's binary_logloss: 0.15932	valid_0's f1: 0.837026
[60]	valid_0's binary_logloss: 0.158075	valid_0's f1: 0.836364
[61]	valid_0's binary_logloss: 0.156915	valid_0's f1: 0.836524
[62]	valid_0's binary_logloss: 0.155796	valid_0's f1: 0.836685
[63]	valid_0's binary_logloss: 0.154715	valid_0's f1: 0.838962
[64]	valid_0's binary_logloss: 0.153602	valid_0's f1: 0.83871
[65]	valid_0's binary_logloss: 0.152614	valid_0's f1: 0.839434
[66]	valid_0's binary_logloss: 0.152066	valid_0's f1: 0.8383
[67]	valid_0's binary_logloss: 0.15148	valid_0's f1: 0.83959
[68]	valid_0's binary_logloss: 0.150517	valid_0's f1: 0.839747
[69]	valid_0's binary_logloss: 0.1496	valid_0's f1: 0.840876
[70]	valid_0's binary_logloss: 0.148762	valid_0's f1: 0.84144
[71]	valid_0's binary_logloss: 0.147917	valid_0's f1: 0.842566
[72]	valid_0's binary_logloss: 0.147126	valid_0's f1: 0.84328
[73]	valid_0's binary_logloss: 0.146359	valid_0's f1: 0.84328
[74]	valid_0's binary_logloss: 0.145601	valid_0's f1: 0.843992
[75]	valid_0's binary_logloss: 0.144888	valid_0's f1: 0.843992
[76]	valid_0's binary_logloss: 0.144181	valid_0's f1: 0.843992
[77]	valid_0's binary_logloss: 0.143484	valid_0's f1: 0.843023
[78]	valid_0's binary_logloss: 0.142886	valid_0's f1: 0.844143
[79]	valid_0's binary_logloss: 0.142266	valid_0's f1: 0.844853
[80]	valid_0's binary_logloss: 0.141609	valid_0's f1: 0.844853
[81]	valid_0's binary_logloss: 0.141018	valid_0's f1: 0.846525
[82]	valid_0's binary_logloss: 0.140524	valid_0's f1: 0.846525
[83]	valid_0's binary_logloss: 0.140009	valid_0's f1: 0.846673
[84]	valid_0's binary_logloss: 0.139497	valid_0's f1: 0.846117
[85]	valid_0's binary_logloss: 0.138981	valid_0's f1: 0.846117
[86]	valid_0's binary_logloss: 0.138476	valid_0's f1: 0.847376
[87]	valid_0's binary_logloss: 0.138006	valid_0's f1: 0.847376
[88]	valid_0's binary_logloss: 0.13774	valid_0's f1: 0.846968
[89]	valid_0's binary_logloss: 0.137512	valid_0's f1: 0.846968
[90]	valid_0's binary_logloss: 0.137083	valid_0's f1: 0.846968
[91]	valid_0's binary_logloss: 0.136875	valid_0's f1: 0.846968
[92]	valid_0's binary_logloss: 0.136451	valid_0's f1: 0.846968
[93]	valid_0's binary_logloss: 0.136061	valid_0's f1: 0.847523
[94]	valid_0's binary_logloss: 0.135653	valid_0's f1: 0.847523
[95]	valid_0's binary_logloss: 0.135285	valid_0's f1: 0.847115
[96]	valid_0's binary_logloss: 0.13509	valid_0's f1: 0.847115
[97]	valid_0's binary_logloss: 0.134757	valid_0's f1: 0.847262
[98]	valid_0's binary_logloss: 0.134459	valid_0's f1: 0.846449
[99]	valid_0's binary_logloss: 0.134101	valid_0's f1: 0.847262
[100]	valid_0's binary_logloss: 0.133798	valid_0's f1: 0.847409
[101]	valid_0's binary_logloss: 0.133498	valid_0's f1: 0.846596
[102]	valid_0's binary_logloss: 0.1332	valid_0's f1: 0.846596
[103]	valid_0's binary_logloss: 0.132957	valid_0's f1: 0.846596
[104]	valid_0's binary_logloss: 0.132678	valid_0's f1: 0.846596
[105]	valid_0's binary_logloss: 0.13241	valid_0's f1: 0.847555
[106]	valid_0's binary_logloss: 0.132119	valid_0's f1: 0.847149
[107]	valid_0's binary_logloss: 0.131967	valid_0's f1: 0.847149
[108]	valid_0's binary_logloss: 0.131746	valid_0's f1: 0.847149
[109]	valid_0's binary_logloss: 0.131518	valid_0's f1: 0.847149
[110]	valid_0's binary_logloss: 0.13132	valid_0's f1: 0.847701
[111]	valid_0's binary_logloss: 0.131195	valid_0's f1: 0.848253
[112]	valid_0's binary_logloss: 0.131091	valid_0's f1: 0.847847
[113]	valid_0's binary_logloss: 0.130876	valid_0's f1: 0.848398
[114]	valid_0's binary_logloss: 0.13069	valid_0's f1: 0.848804
[115]	valid_0's binary_logloss: 0.130409	valid_0's f1: 0.848948
[116]	valid_0's binary_logloss: 0.130146	valid_0's f1: 0.848804
[117]	valid_0's binary_logloss: 0.129919	valid_0's f1: 0.848398
[118]	valid_0's binary_logloss: 0.129695	valid_0's f1: 0.848253
[119]	valid_0's binary_logloss: 0.129512	valid_0's f1: 0.847587
[120]	valid_0's binary_logloss: 0.12929	valid_0's f1: 0.848543
[121]	valid_0's binary_logloss: 0.129117	valid_0's f1: 0.848138
[122]	valid_0's binary_logloss: 0.128959	valid_0's f1: 0.847733
[123]	valid_0's binary_logloss: 0.128803	valid_0's f1: 0.847328
[124]	valid_0's binary_logloss: 0.128617	valid_0's f1: 0.848832
[125]	valid_0's binary_logloss: 0.128456	valid_0's f1: 0.848832
[126]	valid_0's binary_logloss: 0.128257	valid_0's f1: 0.848832
[127]	valid_0's binary_logloss: 0.128106	valid_0's f1: 0.848832
[128]	valid_0's binary_logloss: 0.127967	valid_0's f1: 0.848427
[129]	valid_0's binary_logloss: 0.127865	valid_0's f1: 0.849237
[130]	valid_0's binary_logloss: 0.127768	valid_0's f1: 0.849929
[131]	valid_0's binary_logloss: 0.127607	valid_0's f1: 0.849929
[132]	valid_0's binary_logloss: 0.127527	valid_0's f1: 0.848976
[133]	valid_0's binary_logloss: 0.127412	valid_0's f1: 0.848976
[134]	valid_0's binary_logloss: 0.127283	valid_0's f1: 0.848976

[135]	valid_0's binary_logloss: 0.1272	valid_0's f1: 0.849929
[136]	valid_0's binary_logloss: 0.127104	valid_0's f1: 0.849524
[137]	valid_0's binary_logloss: 0.127001	valid_0's f1: 0.849929
[138]	valid_0's binary_logloss: 0.126875	valid_0's f1: 0.849929
[139]	valid_0's binary_logloss: 0.126778	valid_0's f1: 0.849929
[140]	valid_0's binary_logloss: 0.126689	valid_0's f1: 0.849929
[141]	valid_0's binary_logloss: 0.126566	valid_0's f1: 0.850476
[142]	valid_0's binary_logloss: 0.126446	valid_0's f1: 0.850476
[143]	valid_0's binary_logloss: 0.12635	valid_0's f1: 0.850071
[144]	valid_0's binary_logloss: 0.12628	valid_0's f1: 0.849667
[145]	valid_0's binary_logloss: 0.126204	valid_0's f1: 0.849667
[146]	valid_0's binary_logloss: 0.126116	valid_0's f1: 0.849667
[147]	valid_0's binary_logloss: 0.126054	valid_0's f1: 0.849667
[148]	valid_0's binary_logloss: 0.125999	valid_0's f1: 0.850214
[149]	valid_0's binary_logloss: 0.125905	valid_0's f1: 0.850214
[150]	valid_0's binary_logloss: 0.125794	valid_0's f1: 0.850214
[151]	valid_0's binary_logloss: 0.125696	valid_0's f1: 0.84981
[152]	valid_0's binary_logloss: 0.125622	valid_0's f1: 0.84981
[153]	valid_0's binary_logloss: 0.125574	valid_0's f1: 0.849549
[154]	valid_0's binary_logloss: 0.125543	valid_0's f1: 0.849953
[155]	valid_0's binary_logloss: 0.125471	valid_0's f1: 0.850498
[156]	valid_0's binary_logloss: 0.125419	valid_0's f1: 0.850498
[157]	valid_0's binary_logloss: 0.125341	valid_0's f1: 0.850498
[158]	valid_0's binary_logloss: 0.12529	valid_0's f1: 0.85064
[159]	valid_0's binary_logloss: 0.125212	valid_0's f1: 0.85064
[160]	valid_0's binary_logloss: 0.12516	valid_0's f1: 0.850095
[161]	valid_0's binary_logloss: 0.125095	valid_0's f1: 0.849692
[162]	valid_0's binary_logloss: 0.125088	valid_0's f1: 0.85064
[163]	valid_0's binary_logloss: 0.125096	valid_0's f1: 0.851185
[164]	valid_0's binary_logloss: 0.125084	valid_0's f1: 0.851729
[165]	valid_0's binary_logloss: 0.125055	valid_0's f1: 0.851729
[166]	valid_0's binary_logloss: 0.125016	valid_0's f1: 0.852133
[167]	valid_0's binary_logloss: 0.124973	valid_0's f1: 0.851729
[168]	valid_0's binary_logloss: 0.124928	valid_0's f1: 0.851729
[169]	valid_0's binary_logloss: 0.12489	valid_0's f1: 0.851326
[170]	valid_0's binary_logloss: 0.124844	valid_0's f1: 0.851326
[171]	valid_0's binary_logloss: 0.124816	valid_0's f1: 0.851729
[172]	valid_0's binary_logloss: 0.124767	valid_0's f1: 0.851326
[173]	valid_0's binary_logloss: 0.124729	valid_0's f1: 0.851729
[174]	valid_0's binary_logloss: 0.124712	valid_0's f1: 0.851326
[175]	valid_0's binary_logloss: 0.124697	valid_0's f1: 0.851326
[176]	valid_0's binary_logloss: 0.124657	valid_0's f1: 0.851326
[177]	valid_0's binary_logloss: 0.12463	valid_0's f1: 0.851326
[178]	valid_0's binary_logloss: 0.124607	valid_0's f1: 0.852133
[179]	valid_0's binary_logloss: 0.124522	valid_0's f1: 0.852133
[180]	valid_0's binary_logloss: 0.124485	valid_0's f1: 0.851729
[181]	valid_0's binary_logloss: 0.124486	valid_0's f1: 0.849976
[182]	valid_0's binary_logloss: 0.124468	valid_0's f1: 0.849976
[183]	valid_0's binary_logloss: 0.124415	valid_0's f1: 0.849976
[184]	valid_0's binary_logloss: 0.124366	valid_0's f1: 0.849976
[185]	valid_0's binary_logloss: 0.1243	valid_0's f1: 0.849574
[186]	valid_0's binary_logloss: 0.124258	valid_0's f1: 0.849574
[187]	valid_0's binary_logloss: 0.124257	valid_0's f1: 0.849574
[188]	valid_0's binary_logloss: 0.124226	valid_0's f1: 0.849574
[189]	valid_0's binary_logloss: 0.124184	valid_0's f1: 0.85052
[190]	valid_0's binary_logloss: 0.124189	valid_0's f1: 0.849173
[191]	valid_0's binary_logloss: 0.124168	valid_0's f1: 0.849716
[192]	valid_0's binary_logloss: 0.124144	valid_0's f1: 0.849173
[193]	valid_0's binary_logloss: 0.124113	valid_0's f1: 0.849173
[194]	valid_0's binary_logloss: 0.124076	valid_0's f1: 0.849315
[195]	valid_0's binary_logloss: 0.124042	valid_0's f1: 0.849716
[196]	valid_0's binary_logloss: 0.124042	valid_0's f1: 0.849315
[197]	valid_0's binary_logloss: 0.123996	valid_0's f1: 0.849315
[198]	valid_0's binary_logloss: 0.123964	valid_0's f1: 0.849858
[199]	valid_0's binary_logloss: 0.123963	valid_0's f1: 0.849315
[200]	valid_0's binary_logloss: 0.123943	valid_0's f1: 0.848914
[201]	valid_0's binary_logloss: 0.123895	valid_0's f1: 0.848914
[202]	valid_0's binary_logloss: 0.123876	valid_0's f1: 0.848914
[203]	valid_0's binary_logloss: 0.123903	valid_0's f1: 0.848914
[204]	valid_0's binary_logloss: 0.123888	valid_0's f1: 0.848914
[205]	valid_0's binary_logloss: 0.123838	valid_0's f1: 0.848914
[206]	valid_0's binary_logloss: 0.123853	valid_0's f1: 0.848914
[207]	valid_0's binary_logloss: 0.123861	valid_0's f1: 0.849315
[208]	valid_0's binary_logloss: 0.123836	valid_0's f1: 0.849315
[209]	valid_0's binary_logloss: 0.123807	valid_0's f1: 0.849315
[210]	valid_0's binary_logloss: 0.123749	valid_0's f1: 0.849315
[211]	valid_0's binary_logloss: 0.12377	valid_0's f1: 0.849315
[212]	valid_0's binary_logloss: 0.123732	valid_0's f1: 0.849315
[213]	valid_0's binary_logloss: 0.123725	valid_0's f1: 0.849315
[214]	valid_0's binary_logloss: 0.123746	valid_0's f1: 0.849315
[215]	valid_0's binary_logloss: 0.123776	valid_0's f1: 0.849315
[216]	valid_0's binary_logloss: 0.123788	valid_0's f1: 0.849716
[217]	valid_0's binary_logloss: 0.12379	valid_0's f1: 0.849716
[218]	valid_0's binary_logloss: 0.123781	valid_0's f1: 0.849173
[219]	valid_0's binary_logloss: 0.123766	valid_0's f1: 0.849173
[220]	valid_0's binary_logloss: 0.123738	valid_0's f1: 0.849173
[221]	valid_0's binary_logloss: 0.123695	valid_0's f1: 0.849173
[222]	valid_0's binary_logloss: 0.12366	valid_0's f1: 0.848771
[223]	valid_0's binary_logloss: 0.123618	valid_0's f1: 0.848771
[224]	valid_0's binary_logloss: 0.123592	valid_0's f1: 0.849173
[225]	valid_0's binary_logloss: 0.123548	valid_0's f1: 0.849173
[226]	valid_0's binary_logloss: 0.123564	valid_0's f1: 0.849173
[227]	valid_0's binary_logloss: 0.123531	valid_0's f1: 0.849173
[228]	valid_0's binary_logloss: 0.123546	valid_0's f1: 0.848628
[229]	valid_0's binary_logloss: 0.123506	valid_0's f1: 0.848628
[230]	valid_0's binary_logloss: 0.123493	valid_0's f1: 0.848628
[231]	valid_0's binary_logloss: 0.123468	valid_0's f1: 0.848628
[232]	valid_0's binary_logloss: 0.123462	valid_0's f1: 0.848628
[233]	valid_0's binary_logloss: 0.123448	valid_0's f1: 0.848628
[234]	valid_0's binary_logloss: 0.123461	valid_0's f1: 0.848083
[235]	valid_0's binary_logloss: 0.123448	valid_0's f1: 0.848083
[236]	valid_0's binary_logloss: 0.12343	valid_0's f1: 0.848083
[237]	valid_0's binary_logloss: 0.123424	valid_0's f1: 0.848083
[238]	valid_0's binary_logloss: 0.123419	valid_0's f1: 0.848083
[239]	valid_0's binary_logloss: 0.123388	valid_0's f1: 0.848083
[240]	valid_0's binary_logloss: 0.123398	valid_0's f1: 0.848628
[241]	valid_0's binary_logloss: 0.123379	valid_0's f1: 0.848227
[242]	valid_0's binary_logloss: 0.123373	valid_0's f1: 0.848227
[243]	valid_0's binary_logloss: 0.123366	valid_0's f1: 0.848227
[244]	valid_0's binary_logloss: 0.123357	valid_0's f1: 0.848771
[245]	valid_0's binary_logloss: 0.123332	valid_0's f1: 0.848771
[246]	valid_0's binary_logloss: 0.123297	valid_0's f1: 0.848771
[247]	valid_0's binary_logloss: 0.123301	valid_0's f1: 0.848771
[248]	valid_0's binary_logloss: 0.123341	valid_0's f1: 0.848771
[249]	valid_0's binary_logloss: 0.123343	valid_0's f1: 0.849315
[250]	valid_0's binary_logloss: 0.123335	valid_0's f1: 0.849315
[251]	valid_0's binary_logloss: 0.123329	valid_0's f1: 0.848771
[252]	valid_0's binary_logloss: 0.12327	valid_0's f1: 0.849315
[253]	valid_0's binary_logloss: 0.123246	valid_0's f1: 0.849315
[254]	valid_0's binary_logloss: 0.12323	valid_0's f1: 0.848513
[255]	valid_0's binary_logloss: 0.123235	valid_0's f1: 0.849315
[256]	valid_0's binary_logloss: 0.123203	valid_0's f1: 0.849315
[257]	valid_0's binary_logloss: 0.123183	valid_0's f1: 0.849315
[258]	valid_0's binary_logloss: 0.123181	valid_0's f1: 0.849315
[259]	valid_0's binary_logloss: 0.123181	valid_0's f1: 0.848914
[260]	valid_0's binary_logloss: 0.123197	valid_0's f1: 0.848914
[261]	valid_0's binary_logloss: 0.1232	valid_0's f1: 0.848914
[262]	valid_0's binary_logloss: 0.123175	valid_0's f1: 0.848513
[263]	valid_0's binary_logloss: 0.123122	valid_0's f1: 0.849457
[264]	valid_0's binary_logloss: 0.123098	valid_0's f1: 0.849457
[265]	valid_0's binary_logloss: 0.123097	valid_0's f1: 0.849457
[266]	valid_0's binary_logloss: 0.123096	valid_0's f1: 0.849457
Early stopping, best iteration is:
[166]	valid_0's binary_logloss: 0.125016	valid_0's f1: 0.852133

In [357]:
model.feature_importance()

array([399, 111, 111,  64,  67,  41, 259, 736, 370, 540, 255,  66,   8,
         0,   0,   0,  23,  16,   3,  22,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   6,   0,   0,   0,   0,   0,   3,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   8,   0,   0,   0,   0,   0,   0,   6,
         0,   0,   0,   0,   0,   0,   3,  11,   0,   0,   0,   0,   8,
         0,   0,   0,   0,   0,   0,  10,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  12,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   1,  11,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   1,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  15,   0,   1,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,  17,   7,   5,   0,   0,   1,   3,   2,   0,  12,   0,
         0,   0,   0,   0,   2,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   8,
         0,   0,   8,   0,   0,   0,   0,   0,   0,   0,   0,   0,   2,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,  11,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   3,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   4,   0,   1,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   2,
        10,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,  21,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,  51,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   8,   3,   0,   6,   0,
         0,   0,   0,   0,   8,  12,   0,   0,   2,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,  17,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  69,  39,  27,
        41,  10,   4,  14,  10,   4, 205,  28, 415, 311, 293, 259])

In [359]:
dict(zip(list(train.columns),model.feature_importance()))

{'工作年限': 399,
 '可到职天数': 111,
 '岗位最低学历': 111,
 '工作经历数': 64,
 '岗位工作年限': 67,
 '工作地点符合否': 41,
 '求职者平均被匹配数': 259,
 '岗位平均被匹配数': 736,
 '求职者求职数': 370,
 '岗位求职者数': 540,
 '性別_女': 255,
 '性別_男': 66,
 '最高学历_中专': 8,
 '最高学历_其它': 0,
 '最高学历_博士后': 0,
 '最高学历_博士研究生': 0,
 '最高学历_大专': 23,
 '最高学历_大学本科': 16,
 '最高学历_硕士研究生': 3,
 '最高学历_高中（职高、技校）': 22,
 '应聘者专业_【中医学】': 0,
 '应聘者专业_【中国语言文学】': 0,
 '应聘者专业_【临床医学】': 0,
 '应聘者专业_【交通运输工程】': 0,
 '应聘者专业_【仪器科学与技术】': 0,
 '应聘者专业_【体育学】': 0,
 '应聘者专业_【信息与通信工程】': 0,
 '应聘者专业_【公共卫生与预防医学】': 0,
 '应聘者专业_【公共管理】': 0,
 '应聘者专业_【公安学】': 0,
 '应聘者专业_【其他专业】': 6,
 '应聘者专业_【军事学】': 0,
 '应聘者专业_【农业工程】': 0,
 '应聘者专业_【农学】': 0,
 '应聘者专业_【力学】': 0,
 '应聘者专业_【动力工程及工程热物理】': 0,
 '应聘者专业_【化学】': 3,
 '应聘者专业_【化学工程】': 0,
 '应聘者专业_【历史学】': 0,
 '应聘者专业_【口腔医学】': 0,
 '应聘者专业_【哲学】': 0,
 '应聘者专业_【园艺学】': 0,
 '应聘者专业_【土木工程】': 0,
 '应聘者专业_【地理学】': 0,
 '应聘者专业_【地质学】': 0,
 '应聘者专业_【基础医学】': 0,
 '应聘者专业_【外语类】': 0,
 '应聘者专业_【大气科学】': 0,
 '应聘者专业_【天文学】': 0,
 '应聘者专业_【工商管理】': 0,
 '应聘者专业_【建筑学】': 0,
 '应聘者专业_【心理学】': 0,
 '应聘者专业_【情报与档案管理】': 0,
 '应聘者专业_【政治学】': 0,
 '应聘者专业_【教育学】': 0,
 '应聘者专业_【数学】': 0,
 '应聘者专业_【新闻传播学】': 0,
 '应聘者专业_【机械工程】': 8,
 '应聘者专业_【材料科学与工程】': 0,
 '应聘者专业_【林业工程】': 0,
 '应聘者专业_【林学】': 0,
 '应聘者专业_【核科学与技术】': 0,
 '应聘者专业_【民族学】': 0,
 '应聘者专业_【水利工程】': 0,
 '应聘者专业_【法学】': 6,
 '应聘者专业_【测绘科学与技术】': 0,
 '应聘者专业_【海洋科学】': 0,
 '应聘者专业_【物理学】': 0,
 '应聘者专业_【环境科学】': 0,
 '应聘者专业_【生物化学与分子生物学】': 0,
 '应聘者专业_【生物医学工程】': 0,
 '应聘者专业_【生物学】': 3,
 '应聘者专业_【电子科学与技术】': 11,
 '应聘者专业_【电气工程】': 0,
 '应聘者专业_【畜牧学】': 0,
 '应聘者专业_【矿业工程】': 0,
 '应聘者专业_【社会学】': 0,
 '应聘者专业_【管理学】': 8,
 '应聘者专业_【纺织科学与工程】': 0,
 '应聘者专业_【经济学】': 0,
 '应聘者专业_【航空宇航科学与技术】': 0,
 '应聘者专业_【船舶与海洋工程】': 0,
 '应聘者专业_【艺术学】': 0,
 '应聘者专业_【药学】': 0,
 '应聘者专业_【计算机科学与技术】': 10,
 '应聘者专业_【设计学】': 0,
 '应聘者专业_【食品轻工技术与工程】': 0,
 '应聘者专业_一般力学与力学基础': 0,
 '应聘者专业_专门史': 0,
 '应聘者专业_世界史': 0,
 '应聘者专业_世界经济': 0,
 '应聘者专业_中医临床基础': 0,
 '应聘者专业_中医内科学': 0,
 '应聘者专业_中医基础理论': 0,
 '应聘者专业_中医妇科学': 0,
 '应聘者专业_中医骨伤科学': 0,
 '应聘者专业_中国古代史': 0,
 '应聘者专业_中国古代文学': 0,
 '应聘者专业_中国哲学': 0,
 '应聘者专业_中国少数民族语言学（分语族）': 0,
 '应聘者专业_中国现当代文学': 0,
 '应聘者专业_中国近现代史': 0,
 '应聘者专业_中外政治制度': 0,
 '应聘者专业_中药学': 0,
 '应聘者专业_临床兽医学': 0,
 '应聘者专业_临床医学': 0,
 '应聘者专业_交通信息工程及控制': 0,
 '应聘者专业_交通运输规划与管理': 0,
 '应聘者专业_产业经济学': 0,
 '应聘者专业_人力资源管理': 0,
 '应聘者专业_人口': 0,
 '应聘者专业_人文地理学': 0,
 '应聘者专业_人文科学': 0,
 '应聘者专业_人机与环境工程': 0,
 '应聘者专业_人类学': 0,
 '应聘者专业_企业管理': 0,
 '应聘者专业_会计学': 12,
 '应聘者专业_会计电算化': 0,
 '应聘者专业_传播学': 0,
 '应聘者专业_伦理学': 0,
 '应聘者专业_体育人文社会学': 0,
 '应聘者专业_体育教育训练学': 0,
 '应聘者专业_供燃气': 0,
 '应聘者专业_侦查学': 0,
 '应聘者专业_俄语': 0,
 '应聘者专业_信号与信息处理': 0,
 '应聘者专业_信息与计算科学': 0,
 '应聘者专业_信息工程': 0,
 '应聘者专业_信息管理与信息系统': 0,
 '应聘者专业_儿科学': 0,
 '应聘者专业_光信息科学与技术': 0,
 '应聘者专业_光学': 0,
 '应聘者专业_公共事业管理': 1,
 '应聘者专业_公共关系学': 11,
 '应聘者专业_公共卫生事业管理': 0,
 '应聘者专业_公共行政管理': 0,
 '应聘者专业_其它': 0,
 '应聘者专业_其它语言': 0,
 '应聘者专业_内科学': 0,
 '应聘者专业_军事学': 0,
 '应聘者专业_军事法学': 0,
 '应聘者专业_农业机械化工程': 0,
 '应聘者专业_农业水土工程': 0,
 '应聘者专业_农业生物环境与能源工程': 0,
 '应聘者专业_农业电气化与自动化': 0,
 '应聘者专业_农学': 0,
 '应聘者专业_农林经济管理': 0,
 '应聘者专业_冶金工程': 0,
 '应聘者专业_分析化学': 0,
 '应聘者专业_刑事科学技术': 0,
 '应聘者专业_刑法学': 0,
 '应聘者专业_制浆造纸工程': 0,
 '应聘者专业_制糖工程': 0,
 '应聘者专业_制药工程': 0,
 '应聘者专业_办公自动化': 1,
 '应聘者专业_动物学': 0,
 '应聘者专业_动画': 0,
 '应聘者专业_劳动经济学': 0,
 '应聘者专业_包装工程': 0,
 '应聘者专业_包装设计': 0,
 '应聘者专业_化学工程': 0,
 '应聘者专业_化学工艺': 0,
 '应聘者专业_医学检验': 0,
 '应聘者专业_印刷工程': 0,
 '应聘者专业_历史地理学': 0,
 '应聘者专业_历史文献学': 0,
 '应聘者专业_发展与教育心理学': 0,
 '应聘者专业_发酵工程': 0,
 '应聘者专业_口腔临床医学': 0,
 '应聘者专业_史学理论及史学史': 0,
 '应聘者专业_商品检验': 0,
 '应聘者专业_园林植物与观赏园艺': 0,
 '应聘者专业_园林规划与设计': 0,
 '应聘者专业_园艺学': 0,
 '应聘者专业_固体力学': 0,
 '应聘者专业_固体地球物理学': 0,
 '应聘者专业_国际关系': 0,
 '应聘者专业_国际政治': 0,
 '应聘者专业_国际法学': 0,
 '应聘者专业_国际经济与贸易': 15,
 '应聘者专业_国际航运': 0,
 '应聘者专业_国际贸易学': 1,
 '应聘者专业_图书馆学': 0,
 '应聘者专业_土地资源管理': 0,
 '应聘者专业_土木工程': 0,
 '应聘者专业_地图制图学与地理信息工程': 0,
 '应聘者专业_地图学与地理信息系统': 0,
 '应聘者专业_地质工程': 0,
 '应聘者专业_城市规划与设计': 0,
 '应聘者专业_基础兽医学': 0,
 '应聘者专业_基础心理学': 0,
 '应聘者专业_基础数学': 0,
 '应聘者专业_外交学': 0,
 '应聘者专业_外国哲学': 0,
 '应聘者专业_外国语言学及应用语言': 0,
 '应聘者专业_外科学': 0,
 '应聘者专业_大地测量学与测量工程': 0,
 '应聘者专业_妇产科学': 0,
 '应聘者专业_学前教育学': 0,
 '应聘者专业_安全技术及工程': 0,
 '应聘者专业_审计学': 0,
 '应聘者专业_宪法学与行政法学': 0,
 '应聘者专业_家具设计': 0,
 '应聘者专业_对外汉语': 0,
 '应聘者专业_少儿卫生与妇幼保健学': 0,
 '应聘者专业_岩土工程': 0,
 '应聘者专业_工业催化': 0,
 '应聘者专业_工业化学': 0,
 '应聘者专业_工业工程': 0,
 '应聘者专业_工业自动化': 0,
 '应聘者专业_工业设计': 17,
 '应聘者专业_工商管理(MBA)': 7,
 '应聘者专业_工民建': 5,
 '应聘者专业_工程力学': 0,
 '应聘者专业_工程热物理': 0,
 '应聘者专业_工程管理': 1,
 '应聘者专业_工程造价': 3,
 '应聘者专业_市场营销': 2,
 '应聘者专业_市政工程': 0,
 '应聘者专业_平面设计': 12,
 '应聘者专业_广告学': 0,
 '应聘者专业_广播电视新闻学': 0,
 '应聘者专业_广播电视艺术学': 0,
 '应聘者专业_应用化学': 0,
 '应聘者专业_应用心理学': 0,
 '应聘者专业_应用数学': 2,
 '应聘者专业_建筑历史与理论': 0,
 '应聘者专业_建筑学': 0,
 '应聘者专业_建筑技术科学': 0,
 '应聘者专业_建筑环境与设备工程': 0,
 '应聘者专业_建筑电气与消防': 0,
 '应聘者专业_建筑设计及其理论': 0,
 '应聘者专业_影像医学与核医学': 0,
 '应聘者专业_微生物与生化药学': 0,
 '应聘者专业_微生物学': 0,
 '应聘者专业_微电子学': 0,
 '应聘者专业_微电子学与固体电子学': 0,
 '应聘者专业_德语': 0,
 '应聘者专业_思想政治教育': 0,
 '应聘者专业_急诊医学': 0,
 '应聘者专业_戏剧戏曲学': 0,
 '应聘者专业_成人教育学': 0,
 '应聘者专业_房地产经营管理': 0,
 '应聘者专业_技术经济及管理': 0,
 '应聘者专业_护理学': 0,
 '应聘者专业_控制理论与控制工程': 0,
 '应聘者专业_控制科学与工程': 0,
 '应聘者专业_摄影': 0,
 '应聘者专业_摄影测量与遥感': 0,
 '应聘者专业_播音与主持艺术': 0,
 '应聘者专业_放射医学': 0,
 '应聘者专业_政治学理论': 0,
 '应聘者专业_政治经济学': 0,
 '应聘者专业_教育史': 0,
 '应聘者专业_教育学': 0,
 '应聘者专业_教育学原理': 0,
 '应聘者专业_教育技术学': 0,
 '应聘者专业_教育经济与管理': 0,
 '应聘者专业_数量经济学': 0,
 '应聘者专业_文秘': 8,
 '应聘者专业_文艺学': 0,
 '应聘者专业_新闻学': 0,
 '应聘者专业_旅游管理': 8,
 '应聘者专业_无机化学': 0,
 '应聘者专业_日语': 0,
 '应聘者专业_有机化学': 0,
 '应聘者专业_服装设计与工程': 0,
 '应聘者专业_朝鲜语': 0,
 '应聘者专业_机械制造及其自动化': 0,
 '应聘者专业_机械制造工艺与设备': 0,
 '应聘者专业_机械电子工程': 0,
 '应聘者专业_机械设计及理论': 0,
 '应聘者专业_机电一体化': 2,
 '应聘者专业_材料加工工程': 0,
 '应聘者专业_材料学': 0,
 '应聘者专业_材料成型及控制工程': 0,
 '应聘者专业_材料物理与化学': 0,
 '应聘者专业_材料科学与工程': 0,
 '应聘者专业_林产化学加工工程': 0,
 '应聘者专业_果树学': 0,
 '应聘者专业_核能科学与工程': 0,
 '应聘者专业_档案学': 0,
 '应聘者专业_桥梁与隧道工程': 0,
 '应聘者专业_检测技术与自动化装置': 0,
 '应聘者专业_森林培育': 0,
 '应聘者专业_森林工程': 0,
 '应聘者专业_植物学': 0,
 '应聘者专业_植物营养学': 0,
 '应聘者专业_概率论与数理统计': 0,
 '应聘者专业_模具现代制造技术': 0,
 '应聘者专业_模具设计': 11,
 '应聘者专业_比较文学与世界文学': 0,
 '应聘者专业_民俗学（含中国民间文学）': 0,
 '应聘者专业_民商法学': 0,
 '应聘者专业_民族传统体育学': 0,
 '应聘者专业_水产养殖': 0,
 '应聘者专业_水利水电工程': 0,
 '应聘者专业_水力学及河流动力学': 0,
 '应聘者专业_水力结构工程': 0,
 '应聘者专业_水土保持与荒漠化防治': 0,
 '应聘者专业_水声工程': 0,
 '应聘者专业_水生生物学': 0,
 '应聘者专业_汉语言文学': 3,
 '应聘者专业_汽车工程': 0,
 '应聘者专业_治安学': 0,
 '应聘者专业_法医学': 0,
 '应聘者专业_法学': 0,
 '应聘者专业_法学理论': 0,
 '应聘者专业_法律史': 0,
 '应聘者专业_法语': 0,
 '应聘者专业_流体力学': 0,
 '应聘者专业_测控技术与仪器': 0,
 '应聘者专业_测试计量技术及仪器': 0,
 '应聘者专业_海洋技术': 0,
 '应聘者专业_海洋生物学': 0,
 '应聘者专业_消防工程': 0,
 '应聘者专业_渔业资源': 0,
 '应聘者专业_港口工程': 0,
 '应聘者专业_游戏与动漫设计': 0,
 '应聘者专业_热能与动力工程': 0,
 '应聘者专业_物业管理': 0,
 '应聘者专业_物流管理': 4,
 '应聘者专业_物理化学': 0,
 '应聘者专业_物理电子学': 1,
 '应聘者专业_特殊教育学': 0,
 '应聘者专业_环境与资源保护法学': 0,
 '应聘者专业_环境工程': 0,
 '应聘者专业_理论物理': 0,
 '应聘者专业_生态学': 0,
 '应聘者专业_生物医学工程': 0,
 '应聘者专业_生物工程': 0,
 '应聘者专业_生物物理学': 0,
 '应聘者专业_生理学': 0,
 '应聘者专业_生药学': 0,
 '应聘者专业_电力电子与电力传动': 0,
 '应聘者专业_电力系统及其自动化': 0,
 '应聘者专业_电子信息工程学': 0,
 '应聘者专业_电子信息科学与技术': 2,
 '应聘者专业_电子商务': 10,
 '应聘者专业_电子材料与元器件': 1,
 '应聘者专业_电子自动化': 0,
 '应聘者专业_电学': 0,
 '应聘者专业_电工理论与新技术': 0,
 '应聘者专业_电影学': 0,
 '应聘者专业_电机与电器': 0,
 '应聘者专业_电气工程及其自动化': 0,
 '应聘者专业_电磁场与微波技术': 0,
 '应聘者专业_电路与系统': 0,
 '应聘者专业_皮肤病与性病学': 0,
 '应聘者专业_皮革化学与工程': 0,
 '应聘者专业_眼科学': 0,
 '应聘者专业_石油工程': 0,
 '应聘者专业_矿物加工工程': 0,
 '应聘者专业_社会保障': 0,
 '应聘者专业_社会医学与卫生事业管理': 0,
 '应聘者专业_社会学': 0,
 '应聘者专业_社会工作': 0,
 '应聘者专业_科学技术史': 0,
 '应聘者专业_管理科学与工程': 0,
 '应聘者专业_粒子物理与原子核物理': 0,
 '应聘者专业_精密仪器及机械': 0,
 '应聘者专业_精细化工': 0,
 '应聘者专业_纺织化学与染整工程': 0,
 '应聘者专业_纺织工程': 0,
 '应聘者专业_纺织材料与纺织品设计': 0,
 '应聘者专业_经济学': 0,
 '应聘者专业_经济法学': 0,
 '应聘者专业_经济管理': 0,
 '应聘者专业_经贸英语': 21,
 '应聘者专业_结构工程': 0,
 '应聘者专业_给水排水工程': 0,
 '应聘者专业_统计学': 0,
 '应聘者专业_编辑出版学': 0,
 '应聘者专业_网页设计': 0,
 '应聘者专业_美学': 0,
 '应聘者专业_美术学': 0,
 '应聘者专业_考古学与博物馆学': 0,
 '应聘者专业_职业技术教育学': 0,
 '应聘者专业_自动化': 0,
 '应聘者专业_自然地理学': 0,
 '应聘者专业_舞蹈学': 0,
 '应聘者专业_航空、航天与航海医学': 0,
 '应聘者专业_航空宇航制造工程': 0,
 '应聘者专业_航空宇航推进理论与工程': 0,
 '应聘者专业_船舶与海洋结构物设计制造': 0,
 '应聘者专业_英语': 51,
 '应聘者专业_茶学': 0,
 '应聘者专业_草业科学': 0,
 '应聘者专业_药剂学': 0,
 '应聘者专业_药物分析化学': 0,
 '应聘者专业_药物化学': 0,
 '应聘者专业_药理学': 0,
 '应聘者专业_营养与食品卫生学': 0,
 '应聘者专业_蔬菜学': 0,
 '应聘者专业_行政学': 0,
 '应聘者专业_装潢设计': 0,
 '应聘者专业_西班牙语': 0,
 '应聘者专业_计算数学': 0,
 '应聘者专业_计算机应用技术': 8,
 '应聘者专业_计算机科学与技术': 3,
 '应聘者专业_计算机系统结构': 0,
 '应聘者专业_计算机网络与多媒体': 6,
 '应聘者专业_计算机软件理论': 0,
 '应聘者专业_设计艺术学': 0,
 '应聘者专业_诉讼法学': 0,
 '应聘者专业_语言学及应用语言学': 0,
 '应聘者专业_课程与教学论': 0,
 '应聘者专业_财务管理': 8,
 '应聘者专业_财政学（含税收学）': 12,
 '应聘者专业_资源环境与城乡规划管理': 0,
 '应聘者专业_轮机工程': 0,
 '应聘者专业_软件工程': 2,
 '应聘者专业_载运工具运用工程': 0,
 '应聘者专业_过程装备与控制工程': 0,
 '应聘者专业_运动人体科学': 0,
 '应聘者专业_通信与信息系统': 0,
 '应聘者专业_通信工程': 0,
 '应聘者专业_通风、制冷与低温技术': 0,
 '应聘者专业_逻辑学': 0,
 '应聘者专业_道路与铁道工程': 0,
 '应聘者专业_遗传学': 0,
 '应聘者专业_酒店管理': 0,
 '应聘者专业_采矿工程': 0,
 '应聘者专业_野生动植物保护与利用': 0,
 '应聘者专业_金属材料科学与工程': 0,
 '应聘者专业_金融学（含保险学）': 17,
 '应聘者专业_针灸推拿学': 0,
 '应聘者专业_音乐学': 0,
 '应聘者专业_预防兽医学': 0,
 '应聘者专业_预防医学': 0,
 '应聘者专业_飞行器设计': 0,
 '应聘者专业_食品科学与工程': 0,
 '应聘者专业_首饰设计': 0,
 '应聘者专业_马克思主义哲学': 0,
 '应聘者专业_高分子化学与物理': 0,
 '应聘者专业_高分子材料与工程': 0,
 '应聘者专业_高电压与绝缘技术': 0,
 '应聘者专业_高等教育学': 0,
 '应聘者专业_麻醉学': 0,
 '招聘对象代码_-1.0': 69,
 '招聘对象代码_1.0': 39,
 '招聘对象代码_2.0': 27,
 '招聘对象代码_3.0': 41,
 '招聘对象代码_99.0': 10,
 '招聘对象_不限': 4,
 '招聘对象_应届毕业': 14,
 '招聘对象_社会在职': 10,
 '招聘对象_社会无职': 4,
 '年龄': 205,
 '项目经验数': 28,
 '具体要求字数': 415,
 '自荐信字数': 311,
 '平均主要业绩字数': 293,
 '总主要业绩字数': 259}

In [360]:
test_data["预测打分"] = model.predict(test.values)
test_data = test_data.sort_values("预测打分", ascending=False, ignore_index=True)
test_data["预测"] = 0

In [361]:
test_data.loc[:int(0.15 * len(test)), ["预测"]] = 1

submit = test_data [["岗位编号", "求职者编号", "预测"]]
submit.columns = ["RECRUIT_ID", "PERSON_ID", "LABEL"]
submit.to_csv("result_v4.csv", index=False)

In [219]:
test = test.sort_values("预测打分", ascending=False, ignore_index=True)
test["预测"] = 0

In [220]:
test.loc[:int(0.15 * len(test)), ["预测"]]

       预测
0       0
1       0
2       0
3       0
4       0
...    ..
10612   0
10613   0
10614   0
10615   0
10616   0

[10617 rows x 1 columns]

In [221]:
test.loc[:int(0.15 * len(test)), ["预测"]] = 1

In [ ]:
# 0.8521